<footer class="fixed bottom-0 w-full grid grid-flow-col justify-evenly text-center text-sm bg-base">
  <nav id="sns">
    <ul class="grid grid-flow-col justify-evenly gap-sm py-sm">
      <li><a href="https://pixiv.me/yoshinami8" target="_blank">pixiv</a></li>
      <li><a href="https://twitter.com/yoshinami8th" target="_blank">X</a></li>
      <li><a href="https://rotelstift.booth.pm/" target="_blank">BOOTH</a></li>
    </ul>
  </nav>
  <p id="by_name" class="py-sm">By {{ name }} {{ currentYear }}</p>
</footer>
