<form 
  id="article_form" 
  [formGroup]="article_form"
  (submit)="onSubmit($event)" 
  class="grid grid-flow-row gap-xs bg-assort p-sm sm:px-auto"
>
  <label for="title">Title</label>
  <input 
    type="text" 
    id="title" 
    formControlName="title" 
    class="rounded-lg border-2 border-accent text-2xl"
  >
  <p>Tags</p>
  <ul>
    <li *ngFor="let tag of tags">
      <label [for]="tagFormId(tag.slug)">
        <!-- ngIF で checked がついてる input とついてない input を出し分けている -->
        <input 
          type="checkbox" 
          [id]="tagFormId(tag.slug)" 
          name="article[tag_ids][]" 
          [value]="tag.id"
          *ngIf="tagChecked(tag.id)"
          checked
        >
        <input 
          type="checkbox" 
          [id]="tagFormId(tag.slug)" 
          name="article[tag_ids][]" 
          [value]="tag.id"
          *ngIf="!tagChecked(tag.id)"
        >
        {{tag.name}}
      </label>
    </li>
  </ul>
  <label for="image">Image</label>
  <button form="image" (click)="selectImage(imageInput)">ファイルを選択</button>
  <input 
    type="file" 
    id="image" 
    name="article[image]" 
    accept="image/*" 
    #imageInput 
    (change)="onImageSelected($event)" 
    class="hidden"
  >
  <p *ngIf="image_name">{{image_name}}</p>
  <p *ngIf="image_src"><img [src]="image_src" class="w-full max-h-96 object-contain"></p>
  <label for="body_text">Body Text</label>
  <textarea 
    id="body_text" 
    formControlName="body_text" 
    class="rounded-lg border-2 border-accent h-64"
  ></textarea>
  <button form="article_form" type="submit">Submit</button>
</form>
