<div id="articles">
  <article *ngFor="let article of articles">
    <div class="canvas" *ngIf="article.image_url">
      <p class="picture_flame"><img appLazyLoadImage [src]="article.image_url"></p>
      <div class="text_flame">
        <h2 class="article_title">{{article.title}}</h2>
        <section class="body_text">
          <h3>{{article.created_at | date: 'YYYY/MM/dd'}}</h3>
          <div [innerHTML]="article.body_text | newlineToParagraph"></div>
        </section>
      </div>
    </div>
    <div class="text_canvas" *ngIf="!article.image_url && article.body_text">
      <div class="text_flame">
        <h2 class="article_title">{{article.title}}</h2>
        <section class="body_text">
          <h3>{{article.created_at | date: 'YYYY/MM/dd'}}</h3>
          <div [innerHTML]="article.body_text | newlineToParagraph"></div>
        </section>
      </div>
    </div>
  </article>
</div>
