<div class="divide-y-2 divide-accent divide-dotted">
  <article *ngFor="let article of articles" class="py-sm empty:hidden sm:py-lg">
    <div *ngIf="article.image_url" class="sm:grid sm:grid-cols-2 sm:gap-sm">
      <p class="sm:max-w-96 sm:place-self-center">
        <img appLazyLoadImage [src]="article.image_url" class="w-full object-contain">
      </p>
      <div class="sm:flex sm:flex-col sm:max-w-96">
        <h2 class="text-2xl text-center sm:py-md sm:place-self-center sm:text-4xl">{{article.title}}</h2>
        <section class="bg-assort p-xs sm:relative sm:h-full sm:p-sm">
          <h3 class="text-center">{{article.created_at | date: 'YYYY/MM/dd'}}</h3>
          <div [innerHTML]="article.body_text | markdown | async"></div>
          <app-admin-link [id]="article.id" class="sm:absolute sm:bottom-0 sm:right-0"></app-admin-link>
        </section>
      </div>
    </div>
    <div *ngIf="!article.image_url && article.body_text">
      <div class="sm:grid sm:gap-sm">
        <h2 class="text-2xl text-center sm:place-self-center sm:text-4xl">{{article.title}}</h2>
        <section class="bg-assort p-xs sm:p-sm">
          <h3 class="text-center">{{article.created_at | date: 'YYYY/MM/dd'}}</h3>
          <div [innerHTML]="article.body_text | markdown | async"></div>
          <app-admin-link [id]="article.id"></app-admin-link>
        </section>
      </div>
    </div>
  </article>
</div>
